/***
Edit the variables in root to change the theme. Uncomment the themes to see other examples.
Play with the colors and make it yours! 
***/ 
:root {
    /* FLOWER THEME */
    /*--main-bg-color: linear-gradient(to left,rgba(255,150,246,.8),rgba(91,149,213,.8));
    --header-text-color: #FF38A7;
    --break-icon-color: #e2f8ff;
    --break-icon-size: 24px;
    --link-button-color: #FF38A7; 
    --link-icon-color: #e2f8ff;
    --link-button-outline: #e2f8ff; 
    --link-button-shadow: #e838a7a6;*/
    /* END FLOWER THEME */

    /* SKULL THEME */
    /*--main-bg-color: linear-gradient(to left,rgb(170 0 170),rgb(2 26 92));
    --header-text-color: #fff;
    --break-icon-color: #7fff00;
    --break-icon-size: 24px;
    --link-button-color: #1c1c1c; 
    --link-icon-color: #fff;
    --link-button-outline: #7fff00; 
    --link-button-shadow: #80ff0079;*/   
    /* END SKULL THEME */

    /* SUN THEME */
    /*--main-bg-color: linear-gradient(to left,rgba(253, 255, 150, 0.8),#5b95d5cc);
    --header-text-color: #4977ab;
    --break-icon-color: #f98424;
    --break-icon-size: 24px;
    --link-button-color: #4977ab; 
    --link-icon-color: white;
    --link-button-outline: white; 
    --link-button-shadow: #f9842481;*/ 
    /* END SUN THEME */

    /* RED GLITTER THEME */
    /*--main-bg-color: linear-gradient(to left,rgb(110 10 10),rgb(16 16 16));
    --header-text-color: #fff;
    --break-icon-color: #ff000087;
    --break-icon-size: 24px;
    --link-button-color: #1c1c1c;
    --link-icon-color: #fff;
    --link-button-outline: #ff8e00;
    --link-button-shadow: #ff7b004d;*/
    /* END RED GLITTER THEME */

    /* PURPLE GLITTER THEME */
    --main-bg-color: linear-gradient(to left,#650a6e,rgb(16 16 16));
    --header-text-color: #fff;
    --break-icon-color: #f9ff0087;
    --break-icon-size: 24px;
    --link-button-color: #e2f8ff;
    --link-icon-color: rgb(101 10 110);
    --link-button-outline: #f9ff00fa;
    --link-button-shadow: #f6ff004d;
    /* END PURPLE GLITTER THEME */
}

#head-section {
    display: inline-flex;
    position: relative;
    left: 10%;
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-top:8px;
}
#head-section img {
    border-radius: 20px;
}
#head-text {
    margin:0 8px;
}
#head-text h2,h4 {
    font-family: 'Poppins', serif;
    color: var(--header-text-color); 
    margin: 0 4px;
}
#head-text h2 {
    font-weight: 900;
}
#head-text h4 {
    font-weight: 100;
    font-style: italic;
}

#links {
    width: 80%;
    padding: 0 40px;
    height: 60%;
    margin: auto;
    overflow-y: scroll;
    justify-content: center;
}
.link-icon {
    height: 35px;
    background: inherit;
    margin: auto auto auto 4px;
}
a.link-a {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 8px;
    border-bottom: none;
    box-shadow: 10px 7px 41px 7px var(--link-button-shadow);
    Background-color: var(--link-button-color);
    border: 1px solid var(--link-button-outline);
    text-decoration: none;
    padding: 8px 4px 8px 4px;
}
.link-button {
    background: inherit;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--link-icon-color);
    letter-spacing: 1px;
    width: 100%;
}
.link-button p {
    margin: 0;
    text-transform: initial;
    font-weight: normal;
    padding-top: 2px;
    font-size: 12px;
}

#socials {
    width: 100%;
    text-align: center;
}
#socials a img {
    height: 30px;
    margin: 8px;
}

body {
    background: var(--main-bg-color);
}

::-webkit-scrollbar {
    display: none;
}

#container {
    width: 375px;
    height: 600px;
    margin: auto;
}
#bottom {
    bottom: 0;
    width: inherit;
}
.break-section {
    display: flex;
    color: var(--break-icon-color);
    justify-content:space-around;
    height: 40px;
    margin-bottom: 4px;
}
.break-section p {
    margin-top: 12px;
    font-size: var(--break-icon-size);
}

