:root {
    --main-bg-color: linear-gradient(to left,rgba(253, 255, 150, 0.8),#5b95d5cc);
    --header-text-color: #4977ab;
    --break-icon-color: #f98424;
    --social-button-color: #4977ab;
    --link-button-color: #4977ab; 
    --link-icon-color: white;
    --link-button-outline: white; 
    --link-button-shadow: #f9842481; 
}

#head-section {
    display: inline-flex;
    position: relative;
    left: 10%;
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-top:8px;
}
#head-section img {
    border-radius: 20px;
}
#head-text {
    margin:0 8px;
}
#head-text h2,h4 {
    font-family: 'Poppins', serif;
    color: var(--header-text-color); 
    margin: 0 4px;
}
#head-text h2 {
    font-weight: 900;
}
#head-text h4 {
    font-weight: 100;
    font-style: italic;
}

#links {
    width: 80%;
    padding: 0 30px;
    height: 60%;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
}
.link-icon {
    height: 35px;
    background: inherit;
    margin: auto;
}
a.link-a {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    border-bottom: none;
    box-shadow: 10px 7px 41px 7px var(--link-button-shadow);
    Background-color: var(--link-button-color);
    border: 1px solid var(--link-button-outline);
    text-decoration: none;
    padding: 8px 0 8px 0;
}
.link-button {
    background: inherit;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--link-icon-color);
    letter-spacing: 1px;
    width: 80%;
}
.link-button p {
    margin: 0;
    text-transform: initial;
    font-weight: normal;
    padding-top: 2px;
    font-size: 12px;
}

#socials {
    width: 100%;
    text-align: center;
}
#socials a img {
    height: 30px;
    margin: 8px;
    color: var(--social-button-color);
}

body {
    background: var(--main-bg-color);
}

::-webkit-scrollbar {
    display: none;
}

#container {
    width: 375px;
    height: 666px;
    margin: auto;
}
#bottom {
    
    position: fixed;
    bottom: 0;
    width: inherit;
}
.break-section {
    display: flex;
    color: var(--break-icon-color);
    justify-content:space-around;
    height: 40px;
}
.break-section p {
    margin-top: 12px;
}

